{% extends 'home/index.html' %}

{% block content %}

 <div class="p-5 mb-4 bg-light rounded-3">
     <div class="row">
    <div class="col-6">

            <img src="https://d3nn873nee648n.cloudfront.net/900x600/19848/300-SM968501.jpg" alt="girl image" style="width:530px;">
    </div>
    <div class="col-6">
      2 of 3 (wider)
         <p>this is a picture of a girl kept simply just fill some information in this particular page</p>
        <p>Linda Woolverton's screenplay went through at least 15 versions as the film progressed in production</p>
        <p>Stromberg said: "I met many times with Linda Woolverton, the writer. We did lots of roundtable discussions
            and sort of cut out the fat as much as we could and sort of purified the storyline as much as we could"</p>
        <p> some earlier versions of the story, Stefan was the half-human, half-fairy bastard son of King Henry.
            The version of the screenplay that went into shooting originally included two characters called Queen Ulla
            and King Kinloch, the fairy queen and the fairy king of the Moors, and the aunt and uncle of Maleficent</p>
    </div>
  </div>
    </div>
{% endblock %}