{% extends 'home/index.html' %}
{% block content %}
<form method="POST" style="padding:15px;">
    {% csrf_token %}
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text"name="lastname"placeholder="lastname">
    <input type="password" name="password"placeholder="password">
    <input type="text"name="username"placeholder="username">
    <input type="text"name="persona"placeholder="persona">
  <button class="btn btn-success" type="submit" value="User">Register</button>
    <a href="/user" class="btn btn-warning">Back</a>
</form>
{% endblock %}
